*.cache
*.suo
GCop.json
GCopLog.txt
.vs/
@M#\Current\Stats.json
bin/
obj/
packages/
lib/

*.nupkg

*.csproj.user
*.project.lock.json

Zebble.exe
Android/Android.csproj.bak
UWP/project.lock.json
TypeDetector.dll
UWP/UWP.nuget.props
UWP/UWP.nuget.targets
GCopReport.json
*.lock.json
*.csproj.bak
Zebble-LicenseAgreement.txt
Zebble.Plugin.Map/Shared/NuGet.exe
